#
# systemd service file for kodi_panel
#
#   Edit the WorkingDirectory below as appropriate for your
#   installation.
#
#   On an RPi running Raspberry Pi OS, this file should be 
#   copied to the directory
#
#     /etc/systemd/service
#
#   after which one can then one commands such as:
#
#     sudo systemctl start kodi_panel
#     sudo systemctl stop kodi_panel
#     sudo systemctl restart kodi_panel
#
#     sudo systemctl enable kodi_panel   # start upon boot
#     sudo systemctl disable kodi_panel  # disable start at boot
#
#   If you are running a different OS, check systemd documentation
#   for your platform for appropriate service file location.
#

[Unit]
Description=kodi_panel display
After=network.target rc-local.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
KillSignal=SIGINT
# Optional priority change for kodi_panel, uncomment if needed
# Nice=-18
WorkingDirectory=/home/pi/projects/kodi_panel
Environment=PYTHONUNBUFFERED=1
ExecStartPre=/bin/sleep 4
ExecStart=/usr/bin/python3 -u kodi_panel_fb.py 

[Install]
WantedBy=multi-user.target

